.instructor-dashboard-wrapper-2 section.idash-section#student_admin {
    .report-downloads-table {
        .slickgrid {
          height: 300px;
          padding: ($baseline/4);
        }
        // Disable horizontal scroll bar when grid only has 1 column. Remove this CSS class when more columns added.
        .slick-viewport {
          overflow-x: hidden !important;
        }
    }
}
